h3 {
    font-size: 2.4rem;
}
.plus {
    background-color: rgb(66, 126, 93);
    color: azure;
    border-radius: 5px;
    cursor: pointer;
}
.minus {
    margin-right: 25px;
    background-color: #333232;
    color: azure;
    border-radius: 5px;
    cursor: pointer;
}