
.overlay.animated {
    background-color: #b3e2c3;
    border-radius:3px;
    transition: all 1s ease;
    opacity: 0;
    visibility: hidden;
}
.overlay.animated h3,
.overlay.animated div{
    padding: 5px;
}

.overlay.animated.show {
    opacity: 1;
    visibility: visible;
}